<body>
  <h1 class="edit-heading">Editing Book</h2>

  <% if @book.errors.any? %>
    <%= @book.errors.count %> errors prohibited this book from being saved:
    <% @book.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>

  <%= form_with model:@book, url: update_book_path(@book.id), local:true do |f| %>
    <p class="edit-title">Title</p>
    <%= f.text_field :title %>
    <p class="edit-body">Body</p>
    <%= f.text_area :body %>
    <p class="edit-submit"><%= f.submit ' Update Book ' %></p>
  <% end %>
  <%= link_to 'Show', show_book_path(@book.id) %> |
  <%= link_to 'Back', books_path%>
</body>